@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Oxygen:300,400|Oxygen+Mono&display=swap');

:root {
  --headfont: 'Fira Sans', sans-serif;
  --bodyfont: 'Oxygen', sans-serif;
  --monospace: 'Oxygen Mono', monospace;
  --white: #ffffff;
  --offwhite: #f9f9fc;
  --darkgray: #1b1d1e;
  --gray: #4D4D4D;
  --lightgray: #999999;
  --green: #C2E15F;
  --orange: #FDA333;
  --purple: #D3A4F9;
  --red: #fb5344;
  --pinkred: #FB4485;
  --blue: #6CE0F1;
  --salmon: #fa8a90;
  --salmon-light: #fa9ba1;
  --cyan : #8afaf4;
  --shadow: #cccccc;

  color: var(--gray);
  background-color: var(--offwhite);

  font-family: var(--bodyfont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: var(--headfont);
  margin-bottom: 0.5rem;
}

h1 { font-size: 3.0rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.0rem; }
h4, th { font-size: 1.5rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.5rem; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 3rem 1.5rem;
}

ul, ol {
  margin-left: 1rem;
}

